spring:
  datasource:
    url: ${db_url}
    username: ${db_userName}
    password: ${db_pass}
    driver-class-name: org.postgresql.Driver
  jpa:
#    hibernate:
#     ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${email_username}
    password: ${email_password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
application:
  security:
    jwt:
      secret-key: ${secret_key}
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days
doc:
  path: ${doc_path}